In [1]:
import pandas as pd

In [3]:
data_path = "../data/companies.csv"
df = pd.read_csv(data_path)

In [4]:
df.head()

,company_id,company_name,legal_nature,owner_qualification,capital_stock,company_size
0,41273639,MH MATERIAIS DE CONSTRUCAO LTDA,Limited Liability Business Company (LLC),Managing Partner / Partner-Administrator,1000000.0,small-enterprise
1,41274138,CLINICA ESTETICA CAXIAS DO SUL RS LTDA,Limited Liability Business Company (LLC),Managing Partner / Partner-Administrator,200000.0,micro-enterprise
2,41274505,G P CONSTRUCOES E SERVICOS LTDA,Limited Liability Business Company (LLC),Managing Partner / Partner-Administrator,500000.0,small-enterprise
3,41274745,UNICREDIT BANK SAO PAULO CONSULTORIA UNIPESSOA...,Limited Liability Business Company (LLC),Managing Partner / Partner-Administrator,159600.0,small-enterprise
4,41274856,PRODUCON PRODUTOS PARA CONSTRUCAO LTDA,Limited Liability Business Company (LLC),Managing Partner / Partner-Administrator,200000.0,micro-enterprise

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141332 entries, 0 to 141331
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   company_id           141332 non-null  int64
 1   company_name         141332 non-null  object
 2   legal_nature         141332 non-null  object
 3   owner_qualification  141332 non-null  object
 4   capital_stock        141332 non-null  float64
 5   company_size         141332 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.5+ MB