In [6]:
import pandas as pd
pd.set_option("display.max_colwidth", None)

In [22]:
data_path = "../data/apod.csv"
df = pd.read_csv(data_path)
df.columns

Index(['copyright', 'date', 'explanation', 'media_type', 'title', 'url',
       'hdurl'],
      dtype='object')

In [25]:
object_types = df.groupby("media_type").size().reset_index(name='count')
object_types

  media_type  count
0      image   6499
1      other     10
2      video    379