In [1]:
import pandas as pd
pd.set_option("display.max_colwidth", None)

In [2]:
data_path = "../data/apod.csv"
df = pd.read_csv(data_path)
df.columns

Index(['copyright', 'date', 'explanation', 'media_type', 'title', 'url',
       'hdurl'],
      dtype='object')

### What Types are Most Common in the Archive?

In [3]:
object_types = df.groupby("media_type").size().reset_index(name='count')
object_types

  media_type  count
0      image   6499
1      other     10
2      video    379

### Are Any Images Posted More Than Once?

In [4]:
image_counts = df[df['media_type'] == 'image'].groupby('url').size().reset_index(name='count').sort_values('count', ascending=False)
dup_images = image_counts[image_counts['count'] > 1]

In [5]:
print(f"There are {dup_images.shape[0]} images posted more than once")

There are 22 images posted more than once

In [6]:
dup_images

,url,count
1911,https://apod.nasa.gov/apod/image/1205/snowtrees_bonfadini_960.jpg,2
748,https://apod.nasa.gov/apod/image/0901/newrings_cassini.jpg,2
128,https://apod.nasa.gov/apod/image/0705/deathvalleysky_nps.jpg,2
2341,https://apod.nasa.gov/apod/image/1309/Andromeda_on_the_rocksFattinnanzi950.jpg,2
2922,https://apod.nasa.gov/apod/image/1505/MWTree_Toledano_1080.jpg,2
1850,https://apod.nasa.gov/apod/image/1203/jupiterpersonvenus_nikodem_960.jpg,2
968,https://apod.nasa.gov/apod/image/0909/UVAndromeda_swiftH600.jpg,2
260,https://apod.nasa.gov/apod/image/0709/milkywayband_gleason.jpg,2
496,https://apod.nasa.gov/apod/image/0805/antarcticeclipse_bruenjes_big.jpg,2
3417,https://apod.nasa.gov/apod/image/1610/eagleaurora_jorgensen_900.jpg,2
3585,https://apod.nasa.gov/apod/image/1704/SatelliteSale_NASA_960_split3.jpg,2
6,https://apod.nasa.gov/apod/image/0510/hyperion2_cassini.jpg,2
5428,https://apod.nasa.gov/apod/image/2211/Orion_Spacecraft_Earth_Views_20221116-1067.jpg,2
4,https://apod.nasa.gov/apod/image/0207/everest_mackenzie.jpg,2
2585,https://apod.nasa.gov/apod/image/1405/flame_optical.jpg,2
3309,https://apod.nasa.gov/apod/image/1607/BeyondEarth_Unknown_960.jpg,2
3094,https://apod.nasa.gov/apod/image/1511/Orion212_Volskiy_960.jpg,2
3350,https://apod.nasa.gov/apod/image/1608/MeteorM31_hemmerich_960.jpg,2
3183,https://apod.nasa.gov/apod/image/1602/ManInMoon_Caxete_1080.jpg,2
4347,https://apod.nasa.gov/apod/image/1908/MimasPIA17213_fig1_1024.jpg,2
822,https://apod.nasa.gov/apod/image/0904/blackhole_hobart.jpg,2
3144,https://apod.nasa.gov/apod/image/1601/AirglowFan_Lane_960.jpg,2